@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    font-family: "Bebas Neue", sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    background-color: #3D5467;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center; 
}

form{
    display: flex;
    flex-direction: column;  
}

main, #result{
    background-color: #8AA29E;
}

main{
    border: white 3px solid;
    border-radius: 15%;
    padding: 2em;
    padding-top: 0em;
    box-shadow: 7px 7px 15px;
}

main h1{
    font-size: 50px;
    text-align: center;
    color: #3D5467;
}

button{
    width: 100%;
}

button, #submit-btn{
    font-size: 20px;
    color: #3D5467;
    background-color: white;
    transition-duration: 0.4s;
    border:none;
}

button:hover, #submit-btn:hover{
    background-color: #3D5467;
    color:white;
    
}

input[type=text]{
    padding: 5px;
    border:none;
    border-bottom: 2px solid #3D5467;
}

input[type=text]:focus{
    outline: none;
}

#submit-btn{
    margin-top: 10px;
}

#unit-selectors{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form{
    display: flex;
    gap:2px
}

#result{
    display: none;
}
